.add-video-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-yellow-dt);
  margin: 3%;
  padding: 3%;
}
.add-video-form-box {
  height: 100dvh;
}

.input-avf::placeholder {
  color: var(--color-input-form-dt);
}

.add-video-form > label {
  padding: 5%;
}
.add-video-form.input {
  padding: 15%;
}
.add-video-form-title {
  color: var(--color-green-dt);
  text-align: center;
  padding: 3%;
}
.add-video-form-container {
  background: var(--grad-admin);
}
.back-button {
  text-decoration: none;
  color: #804582;
}
