.categories-title {
  color: var(--color-2scd-2);
  margin-bottom: 2dvh;
  margin-top: 3dvh;
  font: var(--body-font);
  font-weight: 400;
  margin-left: 1dvh;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.video-carousel {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.video-card {
  position: relative;
  padding: 15px;
  cursor: pointer;
}

/*

.video-container {
  display: flex;
  width: 100dvw;
}
.video-carousel {
  overflow-x: scroll;
  width: 100vw;
  scrollbar-width: thin; // Largeur de la barre de défilement 
  scrollbar-color: transparent transparent; //Couleur de la barre de défilement
}

.video-carousel::-webkit-scrollbar {
  width: 8px; // Largeur de la barre de défilement
}

.video-carousel::-webkit-scrollbar-thumb {
  background-color: transparent; // Couleur de la poignée de la barre de défilement
}

.video.video {
  width: 30dvw;
}
.card-title {
  font-size: 10px;
  text-align: center;
}
*/
