.video-container {
  display: flex;
  width: 100dvw;
  height: 100%;
  gap: 5%;
  // bakground test juste pour la mise //
  background-color: var(--color-3);
}
.video-carousel {
  overflow-x: scroll;
  width: 100dvw;
  height: 100%;
}

.video.video {
  width: 30dvw;
  height: 100%;
}
.card-title {
  font-size: 10px;
  text-align: center;
}
.video {
  width: 100dvw;
  height: 100%;
}
