.signup-box {
  height: 100%;
}
.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.4dvh solid var(--color-3);
  background-color: var(--login-box-bg);
  border-radius: 5px;
  margin-left: 10dvw;
  margin-right: 10dvw;
  margin-top: 5dvh;
  margin-bottom: 9dvh;
  text-align: center;
}
.title {
  margin-top: 8dvh;
  margin-bottom: 2dvh;
  font-family: var(--text-font);
  color: transparent;
  -webkit-text-fill-color: transparent; // prise en charge des navigateurs WebKit
  background-image: var(--logo-color-gradient);
  background-clip: text;
  -webkit-background-clip: text; // prise en charge des navigateurs WebKit
  font-size: 1.5em;
  text-align: center;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40dvw;
  padding: 4dvh;
}
.signup-field {
  padding: 2dvh 0dvh;
  margin-top: -2dvh;
}

.signup-input {
  color: white;
  border: none;
  border-radius: 5px;
  border-bottom: 0.2dvh solid var(--color-3);
  background: none;
  padding: 2dvh;
  font-weight: 700;
  font-size: larger;
  text-align: center;
  width: 75%;
}

.signup-input:active,
.signup-input:focus,
.signup-input:hover {
  outline: none;
}
.signup-submit {
  font-size: 1.5dvh;
  margin-top: 2dvh;
  padding: 2dvh 2dvh;
  border-radius: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-3);
  cursor: pointer;
  border: none;
  position: relative;
}
.signup-input::placeholder {
  color: var(--color-3);
  font-size: 0.7em;
}
.button-text {
  padding: 5px;
}
.button.signup-submit {
  margin-top: 5dvh;
  padding: 0.7dvh;
  margin-bottom: 5dvh;
}
.button div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
}
form.signup {
  width: 50dvw;
  margin-top: -20%;
  font-size: large;
}
.login {
  color: var(--color-2scd-2);
  font-size: small;
  margin-top: 1rem;
}
.login:hover {
  color: var(--a-hover);
}
.login:active {
  color: var(--a-active);
}
a.login {
  margin-top: 2dvh;
  color: rgb(212, 212, 241);
  font-size: small;
}
