.DysneyCatBox {
  display: flex;
  margin-top: 5dvh;
  margin-bottom: 5dvh;
  margin-left: 5dvw;
}

.item {
  position: relative;
  cursor: pointer;
  width: 25dvw;
}

.item-border {
  width: 17dvw;
  height: auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
    rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  border-radius: 10px;
  border: 1px solid var(--color-yellow-dt);
  background-color: #172254;
  transition: transform 250ms ease-in-out, border 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

.item-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
  object-fit: cover;
}

.item-image.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  visibility: hidden;
}

.item:hover .item-border {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 40px 58px -16px,
    rgba(0, 0, 0, 0.72) 0px 30px 22px -10px;
  transform: scale(1.05);
  border: 2px solid rgb(121, 210, 255);
}

.item:hover .item-image.hover-image {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 600px) {
  .DysneyCatBox {
    justify-content: space-evenly;
    margin-bottom: 10dvh;
    margin-top: 10dvh;
    margin-right: 3dvw;
  }
  .item {
    width: 10dvw;
  }
  .item-border {
    width: 10dvw;
  }
}
