.categories {
  display: flex;
  justify-content: center;
  font-family: var(--title-font);
  font-size: 4.5dvw;
  margin-top: 4dvh;
  color: transparent;
  -webkit-text-fill-color: transparent; // prise en charge des navigateurs WebKit
  background-color: var(--color-yellow-dt);
  background-clip: text;
  -webkit-background-clip: text;
}
.video-carousel {
  overflow-x: scroll;
  margin-bottom: 1dvh;
  scrollbar-color: transparent transparent;
  &::-webkit-scrollbar {
    display: none;
  }
}
.video-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 3dvw;
  margin-bottom: 3dvh;
  width: 70dvw;
  height: 100%;
  gap: 5%;
}
@media screen and (min-width: 600px) {
  .categories {
    display: flex;
    justify-content: center;
    font-family: var(--title-font);
    font-size: 3dvw;
    margin-top: 3dvh;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-color: var(--color-yellow-dt);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
