* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-color);
  background-size: 40% 100dvh;
}

.login_container {
  margin-top: 5dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-3);
  min-height: 15dvh;
  border: 1px solid white;
  margin-left: 5dvw;
  margin-right: 5dvw;
}

.screen {
  background-color: var(--background-color);
  height: 75dvh;
  width: 40dvw;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.logo {
  display: flex;
  align-items: center;
  height: auto;
  width: 40%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40dvh;
  padding: 4dvh;
  border: #000000;
}

.login-field {
  padding: 4dvh 0dvh;
}

.title {
  color: var(--background-color);
}

.login-input {
  border: none;
  border-bottom: 0.2dvh solid var(--color-2scd-2);
  background: none;
  padding: 2dvh;
  font-weight: 700;
  width: 100%;
  transition: 0.2s;
}

.login-input:active,
.login-input:focus,
.login-input:hover {
  outline: none;
  border-bottom-color: #000000;
}

.login-submit {
  font-size: 1.5dvh;
  margin-top: 2dvh;
  padding: 2dvh 2dvh;
  border-radius: 26px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: --color-3;
  cursor: pointer;
  border: none;
  position: relative;
}

.button.login-submit {
}

.subscribe {
}

.button div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
}
.new-user {
  color: var(--color-2scd-2);
}
