.page-container {
  display: flex;
  background: var(--grad-admin);
  flex-direction: column;
  align-items: center;
}
.admin-title {
  color: #ee4540;
}
.link {
  padding: 4%;
  color: #804582;
  font-size: large;
  text-decoration: none;
}
.page-container-box {
  height: 100dvh;
}

.footerAdmin {
  position: fixed;
  bottom: 1%;
}
