.page-container-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-admin-body);
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2dvh;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link-download-viewer-list {
  width: fit-content;
}

.admin-title {
  color: var(--color-white-again);
  font-size: 4dvw;
  margin-bottom: 20px;
}

.link-edit-viewer-link,
.link-delete-video-link,
.link-edit-video-link,
.link-add-video-link,
.link-download-viewer-list {
  color: var(--color-admin-page);
  background-color: var(--color-white-again);
  padding: 2dvh 1dvw;
  border-radius: 5px;
  text-decoration: none;
  font-size: 4dvw;
  margin-bottom: 2dvh;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.footer-admin {
  margin-top: 20px;
}
.admin-footer {
  margin-left: 6dvw;
}

.add-video-form-box .logo,
.edit-video-form-box .logo,
.delete-video-form-box .logo {
  position: fixed;
  top: 0;
}
@media screen and (min-width: 600px) {
  .link-edit-viewer-link,
  .link-delete-video-link,
  .link-edit-video-link,
  .link-add-video-link,
  .link-download-viewer-list {
    font-size: 2dvw;
    padding: 2dvh 3dvw;
  }
}
@media screen and (min-width: 1900px) {
  .link-edit-viewer-link,
  .link-delete-video-link,
  .link-edit-video-link,
  .link-add-video-link,
  .link-download-viewer-list {
    font-size: 2dvw;
    padding: 2dvh 4dvw;
  }
  .admin-title {
    font-size: 3dvw;
  }
}
