.video-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 3dvw;
  margin-bottom: -1dvh;
  width: 70dvw;
  height: 100%;
  gap: 5%;
}

.video-carousel {
  overflow-x: scroll;
  width: 100dvw;
  height: 100%;
  margin-left: -2dvw;
  margin-bottom: 1dvh;
  scrollbar-color: transparent transparent;
  &::-webkit-scrollbar {
    display: none;
  }
}

.video.video {
  width: 40dvw;
  height: 100%;
  border-radius: 5px;
  border: 2px solid;
}
.video.video:hover {
  width: 40dvw;
  border: 4px solid;
}
.video-card.hovered video::-webkit-media-control-menu-play-button {
  display: initial !important;
}
.video-card.hovered video {
  cursor: pointer;
}
.card-title {
  margin-top: 1dvh;
  font-size: 3.5dvw;
  font-family: var(--video-title-font);
  word-wrap: break-word;
  word-break: break-all;
  color: var(--color-2scd-2);
  text-align: center;
}
.video {
  width: 100dvw;
  height: 100%;
}
