.carousel {
  border: 10px;
  width: 100dvw;
  display: flex;
  margin-bottom: -10%;
}
.carousel-photocard-container {
  display: flex;
  margin-bottom: 5dvh;
}

.photocard-image {
  width: 100dvw;
  height: 100%;
  margin-left: 2%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.photocard {
  margin-bottom: -5%;
  width: 100dvw;
  height: 100%;
}
.carousel-root {
  width: 70dvw;
  height: 100%;
}

.photocard-content {
  width: 70dvw;
  height: 100%;
}
