// .card-dynamic {
//   height: 30dvh;
//   width: 60svw;
// }

.video-container {
  display: flex;
  width: 100dvw;
  height: 100%;
  gap: 5%;
}
.video-carousel {
  overflow-x: scroll;
  width: 100dvw;
  height: 100%;
}

.video.video {
  width: 100dvw;
  height: 100%;
}
.card-title {
  font-size: 10px;
  text-align: center;
}
.video {
  width: 100dvw;
  height: 100%;
}
