.carousel {
  border: 10px;
  width: 100dvw;
  display: flex;
  margin-bottom: -10%;
}
.carousel-photocard-container {
  display: flex;
  gap: 10px;
}

.photocard-image {
  width: 100dvw;
  height: 40%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.photocard {
  margin-bottom: -5%;
  width: 100dvw;
  height: 100%;
}
.carousel-root {
  width: 100dvw;
  height: 100%;
}

.photocard-content {
  width: 100dvw;
  height: 100%;
}
h2.photocard-title {
  color: var(--color-3);
  font-size: 3.5dvw;
}
