.edit-video-form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-green-dt);
  margin: 3%;
  padding: 3%;
  justify-content: space-around;
}
.edit-video-form.label {
  padding: 15%;
}
.back-button {
  color: var(--color-yellow-dt);
}
.edit-video-form.input {
  padding: 15%;
}
.input-evf::placeholder {
  color: var(--color-input-form-dt);
}
.edit-video-form-title {
  color: var(--color-yellow-dt);
  text-align: center;
  padding: 3%;
}
.edit-video-form-container {
  background: var(--grad-admin);
}
.edit-video-label {
  justify-content: space-around;
  padding: 1%;
}
label.edit-video-label {
  padding-bottom: 2%;
}
form.edit-video-form {
  display: flex;
}
