.edit-video-form-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2d293a;
}

.edit-video-form-container {
  margin-top: 3dvh;
  margin-bottom: 6dvh;
  border: 2px solid #f0eaf0;
  border-radius: 10px;
  padding-bottom: 3dvh;
  width: 80%;
  max-width: 600px;
  background-color: var(--color-admin-back);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: monospace;
}

.edit-video-form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-white-again);
  gap: 0.3dvh;
}

.edit-video-form > label {
  padding: 5px;
}

.edit-video-form-title {
  color: var(--color-white-again);
  text-align: center;
  font-size: 5dvw;
}

.edit-video-form-container input {
  width: 80%;
  padding: 2%;
  margin-bottom: 1dvh;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-video-form-container button {
  width: 60%;
  padding: 2%;
  border-radius: 5px;
}

.edit-video-form-container input::placeholder {
  color: var(--color-admin-page);
  font-size: 14px;
}

.back-button {
  text-decoration: none;
  color: var(--color-yellow);
  margin-bottom: 5%;
}

input#videoId.video-id-input {
  width: 55%;
}
form.edit-video-form {
  display: flex;
}
.footerAdmin {
  position: fixed;
  bottom: 1%;
}
@media screen and (min-width: 600px) {
  .edit-video-form-title {
    font-size: 3dvw;
  }

  .Update {
    width: 10dvw;
    height: 5dvh;
  }
}

@media screen and (min-width: 1900px) {
  div.edit-video-form-container {
    max-height: fit-content;
    max-width: 1200px;
  }
  .edit-video-form-title {
    font-size: 2.5dvw;
  }
  a.back-button {
    font-size: 2.5dvw;
  }
}
