@font-face {
  font-family: "Clinton";
  src: url("./font/Clinton/Clinton\ semibold.ttf") format("truetype"); /* Modifiez le chemin du fichier de police selon votre structure de projet */
  font-weight: normal;
  font-style: normal;
}
:root {
  --text-font: lato, sans-serif;
  --font-2scd: roboto, sans-serif;
  --head-foot-color: rgb(0, 0, 0);
  --body-color: rgb(26, 29, 41);
  --color-2: rgba(45, 64, 89, 1);
  --color-3: rgba(238, 69, 64, 1);
  --color-yellow-dt: #cdad19;
  --color-green-dt: #c2b532;
  --color-input-form-dt: #1a0a39;
  --font-foot-head: rgba(238, 238, 238, 1);
  --color-2scd-2: rgba(238, 238, 238, 1);
  --body-font: Lato, Arial, Helvetica, sans-serif;
  --title-font: "Plus Jakarta Sans", sans-serif;
  --video-title-font: Clinton, sans-serif;
  --grad-body: linear-gradient(
    to bottom,
    #0d0108,
    #160814,
    #1b0f1e,
    #1d1429,
    #1c1a35,
    #1a1d3c,
    #162144,
    #0f254b,
    #0e264f,
    #0e2852,
    #0d2956,
    #0c2b5a
  );
  --login-box-bg: rgba(3, 136, 252, 0.2);
  --color-4: rgba(238, 69, 64, 0.3);
  --logo-color-gradient: linear-gradient(
    to right,
    #ee4540,
    #ec4b40,
    #ea5141,
    #e75642,
    #e55b43,
    #e5644b,
    #e46c53,
    #e3745b,
    #e3826c,
    #e1907d,
    #df9d8e,
    #dbaa9f
  );
  --border-color-gradient: linear-gradient(
      to right,
      #ee4540,
      #ec4b40,
      #ea5141,
      #e75642,
      #e55b43,
      #e5644b,
      #e46c53,
      #e3745b,
      #e3826c,
      #e1907d,
      #df9d8e,
      #dbaa9f
    )
    1;

  --grad-dt-body: linear-gradient(
    0deg,
    rgba(53, 87, 140, 1) 0%,
    rgba(22, 60, 112, 1) 41%,
    rgba(26, 10, 57, 1) 75%,
    rgba(1, 9, 15, 1) 100%
  );
}

body {
  margin: 0;
  padding: 0;
  background-image: var(--grad-body);
  height: 100%;
}
