@font-face {
  font-family: "Clinton";
  src: url("./font/Clinton/Clinton_semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  /* ___Fonts___*/
  --text-font: lato, sans-serif;
  --video-title-font: Clinton, sans-serif;
  --title-font: "Plus Jakarta Sans", sans-serif;
  /* ___Colors___*/
  --color-lepen: rgba(3, 136, 252, 0.2);
  --color-purple: #74125e;
  --color-blue: #4169e1;
  --color-yellow: #ffd700;
  --color-white-again: #f8f8ff;
  /* ___old-color___*/
  --head-foot-color: rgb(0, 0, 0);
  --body-color: rgb(26, 29, 41);
  --color-2: rgba(45, 64, 89, 1);
  --color-3: rgba(238, 69, 64, 1);
  --color-yellow-dt: #cdad19;
  --color-green-dt: #c2b532;
  --color-input-form-dt: #1a0a39;
  --font-foot-head: rgba(238, 238, 238, 1);
  --color-2scd-2: rgba(238, 238, 238, 1);
  --a-hover: yellow;
  --a-active: rgba(238, 229, 64, 0.6);
  --a-visited: rgba(238, 69, 64, 0.3);
  --login-box-bg: rgba(3, 136, 252, 0.2);
  --color-4: rgba(238, 69, 64, 0.3);
  /* ___Admins___*/
  --color-admin-page: #804582;
  --color-admin-body: #2d293a;
  --color-admin-back: #4a4852;
  /* ___Gradients___*/
  --grad-dt-body: linear-gradient(
    to bottom,
    #0d0108,
    #160814,
    #1b0f1e,
    #1d1429,
    #1c1a35,
    #1a1d3c,
    #162144,
    #0f254b,
    #0e264f,
    #0e2852,
    #0d2956,
    #0c2b5a
  );
  --logo-color-gradient: linear-gradient(
    to right,
    #ee4540,
    #ec4b40,
    #ea5141,
    #e75642,
    #e55b43,
    #e5644b,
    #e46c53,
    #e3745b,
    #e3826c,
    #e1907d,
    #df9d8e,
    #dbaa9f
  );
  --border-color-gradient: linear-gradient(
    to right,
    #ee4540,
    #ec4b40,
    #ea5141,
    #e75642,
    #e55b43,
    #e5644b,
    #e46c53,
    #e3745b,
    #e3826c,
    #e1907d,
    #df9d8e,
    #dbaa9f
  );

  --logo-color-gradient-dt: linear-gradient(
    90deg,
    #ffd700,
    #ffdf34,
    #ddcb69,
    #cbbf7e,
    #b7b191
  );

  /*toast */
  --toastify-color-success: #0d490f;
}

body {
  margin: 0;
  padding: 0;
  background-image: var(--grad-dt-body);
  height: 100%;
}
