/* -- Primary colors -- */

$foot-color: #222831;
$body-color: #222831;

/*random var name*/

$color-2: #2d4059;
$color-3: #ff5622bb;
$font-foot-head: #222831;

/* -- Secondary colors -- random var name -- */

$color-2scd-2: #eeeeee;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $body-color;
}

.catégories {
  color: $color-3;
  margin-top: 10%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: smaller;
}

.Login {
  margin-bottom: 5%;
}

.logo {
  border-radius: 5%;
}
