header {
  height: 6vh;
  width: 100%;
  margin-bottom: 2vh;

  &.hidden {
    display: none;
  }
}
.username-home {
  color: var(--color-2);
  background-color: var(--color-yellow-dt);
  width: 15dvw;
  border-radius: 10dvw;
  margin-left: 68dvw;
  padding: 0dvh 3dvw;
}

.username-home-div {
  margin-top: 10dvh;
}
