@import "../../../App.css";
.add-video-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-3);
  margin: 3%;
  padding: 3%;
  gap: 2dvh;
}
.add-video-form-box {
  height: 100dvh;
}

input::placeholder {
  color: #804582;
}
.add-video-form > label {
  padding: 5%;
}
.add-video-form.input {
  padding: 15%;
}
.add-video-form-title {
  color: #ee4540;
  text-align: center;
  padding: 3%;
}
.add-video-form-container {
  background: var(--grad-admin);
}
.back-button {
  text-decoration: none;
  color: #804582;
}

.footerAdmin {
  position: fixed;
  bottom: 1%;
}
