@import "../../../App.css";

.delete-video-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-3);
  margin: 3%;
  padding: 3%;
  gap: 5dvh;
}
.delete-video-form-box {
  height: 100dvh;
}
.delete-video-form-title {
  color: #ee4540;
  text-align: center;
  padding: 3%;
}
.delete-video-form-container {
  background: var(--grad-admin);
}

.footerAdmin {
  position: fixed;
  bottom: 1%;
}
