.video-grid {
  display: flex;
  flex-wrap: wrap;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  color: white;
}
.video-container-grid {
  width: 40dvw;
}
.video-grid-categorie {
  display: inline-block;
  font-family: var(--title-font);
  font-size: 4dvw;
  margin-left: 1dvh;
  border-bottom: solid 1px var(--color-2scd-2);
  border-image: var(--border-color-gradient);
  color: transparent;
  -webkit-text-fill-color: transparent; // prise en charge des navigateurs WebKit
  background-image: var(--logo-color-gradient);
  background-clip: text;
  -webkit-background-clip: text; // prise en charge des navigateurs WebKit
  margin-bottom: 4dvh;
}
.button.show-more {
  margin-top: 3dvh;
}
.show-more {
  width: 45dvw;
  margin: auto;
  border-radius: 26px;
  color: var(--color-3);
  cursor: pointer;
  border: none;
  font-size: 3.5dvw;
}
.button-text {
  padding-top: 1dvh;
}
