.nav-container {
  position: fixed;
  top: 1%;
}

.edit-photo-form-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-admin-body);
}

.edit-photo-form-container {
  margin-top: 3dvh;
  margin-bottom: 10dvh;
  border: 2px solid #f0eaf0;
  border-radius: 10px;
  padding-top: 4dvh;
  padding-bottom: 10dvh;
  width: 80%;
  max-width: 600px;
  background-color: var(--color-admin-back);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: monospace;
}
.edit-photo-error-message {
  color: red;
  background-color: var(--color-white-again);
  text-align: center;
}
.edit-photo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 4dvh;
}

.edit-photo-form > label {
  padding-top: 5dvh;
  padding-bottom: -1dvh;
}

.edit-photo-form-title {
  color: var(--color-white-again);
  text-align: center;
  font-size: 5.5dvw;
}

.edit-photo-form-container input {
  width: 80%;
  padding: 2%;
  margin-bottom: 1dvh;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-photo-form-container button {
  width: 60%;
  padding: 2%;
  border-radius: 5px;
}

.edit-photo-form-container input::placeholder {
  color: var(--color-admin-page);
  font-size: 14px; /* Réduire la taille de la police pour les placeholders */
}

.back-button {
  text-decoration: none;
  color: var(--color-yellow-dt);
  margin-bottom: 5%;
  font-family: monospace;
  font-size: 3.5dvw;
  cursor: pointer;
}

.footerAdmin {
  margin-top: 20px;
}
@media screen and (min-width: 600px) {
  .edit-photo-form-title {
    font-size: 2.5dvw;
  }
}
@media screen and (min-width: 1900px) {
  div.edit-photo-form-container {
    max-height: fit-content;
    max-width: 1200px;
  }
  .edit-photo-form-title {
    font-size: 3dvw;
  }
  a.back-button {
    font-size: 2.5dvw;
  }
}
