.edit-viewer-form-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2d293a;
}
.edit-viewer-form-container {
  margin-top: 3dvh;
  margin-bottom: 6dvh;
  border: 2px solid #f0eaf0;
  border-radius: 10px;
  padding-bottom: 3dvh;
  width: 80%;
  max-width: 600px;
  background-color: #4a4852;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: monospace;
}
.edit-viewer-form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 0.3dvh;
}
.edit-viewer-form-container input {
  width: 80%;
  padding: 2%;
  margin-bottom: 1dvh;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-viewer-form-container button {
  width: 60%;
  padding: 2%;
  border-radius: 5px;
}
.edit-viewer-form-container input::placeholder {
  color: #804582;
  font-size: 14px;
}
.back-admin-button {
  text-decoration: none;
  color: #ca9a17;
  margin-bottom: 5%;
  font-size: 2.5dvw;
}
form.edit-viewer-form {
  display: flex;
}
.edit-viewer-form > label {
  padding: 5px;
}

.viewer-data-email,
.viewer-data-username {
  color: var(--color-yellow-dt);
}

.edit-viewer-form-title {
  color: #ffffff;
  text-align: center;
  font-size: 5dvw;
}
.is-Admin-section {
  display: flex;
}
input#viewerId.viewer-id-input {
  width: 55%;
}
@media screen and (min-width: 600px) {
}
.edit-viewer-form-title {
  font-size: 2.5dvw;
}
@media screen and (min-width: 1400px) {
  .edit-viewer-form-title {
    font-size: 3dvw;
  }
  div.edit-viewer-form-container {
    max-width: 1200px;
    max-height: fit-content;
  }
}
