.video {
  height: 100%;
  width: 100%;
  border: solid 10px yellowgreen;
}
.caroussel-static {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  margin-top: 50%;
  margin-bottom: 5%;
  gap: 5%;
}
