.hero-slider {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 2svw;
  margin-bottom: 1dvh;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 2dvh;
  overflow-x: scroll;
}

.hero-slider-slide {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  opacity: 30%;
  transition: opacity 0.5s ease;
  z-index: 0;
}

.hero-slider-slide.active {
  opacity: 1;
  z-index: 1;
}

.hero-slider-slide img {
  width: 30dvw;
  height: 15dvh;
  object-fit: cover;
  gap: 1dvw;
}

.hero-slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
}

.hero-slider-content h2 {
  font-size: 2dvw;
}

.hero-slider-content p {
  font-size: 1.5dvh;
}
.hero-slider-categorie {
  display: inline-block;
  font-family: var(--title-font);
  font-size: 4.5dvw;
  margin-top: 4dvh;
  margin-left: 14dvh;
  margin-bottom: -2dvh;
  border-bottom: solid 1px var(--color-2scd-2);
  border-image: var(--border-color-gradient);
  color: transparent;
  -webkit-text-fill-color: transparent; // prise en charge des navigateurs WebKit
  background-image: var(--logo-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-modal-content {
  max-width: 90%;
  max-height: 90%;
}

.image-modal-content img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.modal-close-button {
  background-color: #172255;
  color: rgb(220, 155, 123);
  font-size: 4dvw;
  border-radius: 20px;
  position: absolute;
  top: 32%;
  right: 2%;
}
