.anticon > * {
  rotate: (-90deg);
}
.ant-btn-circle {
  rotate: (90deg);
}

.ant-dropdown-menu-title-content {
  display: none;
}
body > div:nth-child(3) > div > ul {
  width: 8dvw;
  height: 7dvh;
  left: 34dvw;
}
@media screen and (min-width: 600px) {
  body > div:nth-child(3) > div > ul {
    width: 15dvw;
    left: 45dvw;
  }
  .ant-dropdown-menu-title-content {
    display: block;
  }
}
